.vacancies-widget {
  display: grid;
  grid-template-columns: minmax(auto, 315px) minmax(400px, 1fr);
  gap: 2.8rem;
}

@media (max-width: 740px) {
  .vacancies-widget {
    grid-template-columns: 1fr;
  }
}