:root {
  --black: #232134;
  --grey-600: #7B7C88;
  --grey-500: #ACADB9;
  --grey-400: #D5D6DC;
  --grey-300: #EAEBED;
  --grey-200: #F5F5F6;
  --white: #fff;
  --blue-600: #3B7CD3;
  --blue-500: #5E96FC;
  --blue-400: #92C1FF;
  --blue-300: #B7D6FF;
  --blue-200: #C9E0FF;
  --blue-100: #DEECFF;
  --Inter: 'Inter', sans-serif;
  --Poppins: 'Poppins', sans-serif;
  --Roboto: 'Roboto', sans-serif;
}